@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    0% {
      background-position: 50% 50%, 50% 50%;
    }

    100% {
      background-position: 350% 50%, 350% 50%;
    }
  }
}